.about-image {
  width: 100vw;
  height: calc(100vh - 5rem);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}
