@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");

.background-image {
  display: flex;
  width: 100vw;
  margin-top: -5rem;
  height: 100vh;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}
.contact-container {
  color: rgb(10, 54, 54);
  display: grid;
  width: 80%;
  margin-top: 5rem;
  height: 90%;
  margin: auto;
}
.welcome-note {
  background-color: rgba(1, 1, 1, 0.2);
  display: grid;
  padding-top: 5rem;
  place-items: center;
  text-align: center;
}
.welcome-text {
  font-family: "Merienda One", cursive;
}
.logo {
  display: flex;
  align-items: center;
  color: rgb(196, 74, 226);
}
.icon {
  font-size: 1.5rem;
  margin-right: 1.5rem;
  color: rgb(196, 74, 226);
}
.text-contact {
  font-size: 1.2rem;
  margin-bottom: 0;
  color: rgb(196, 74, 226);
}
.time-table {
  background-color: rgba(1, 1, 1, 0.2);
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  align-items: center;
  justify-items: center;
  line-height: 150%;
}
.time-text {
}
.social-network {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.icon.soc {
  font-size: 1.8rem;
}

@media screen and (max-width: 960px) {
  .background-image {
    /* display: none; */
  }
}
