@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

.backgroundImage {
  width: 100vw;
  margin-top: -5rem;
  height: 100vh;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}
.cover-overlay {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.text {
  margin: auto;
  text-align: center;
  color: #fff;
}
.falling-txt {
  font-size: clamp(1rem, 3rem, 6rem);
  letter-spacing: 0.4rem;
  font-family: "Quicksand", sans-serif;
}
.fadeing-txt {
  font-size: clamp(0.8rem, 1.5rem, 2.5rem);
  letter-spacing: 5px;
  font-family: "Quicksand", sans-serif;
}
.btn-div {
  padding-top: 4rem;
  margin: auto;
}
.btn-contact {
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  background: rgb(196, 74, 226);
  border: none;
  border-radius: 0px;
  box-shadow: 0px;
}

.btn-contact:hover {
  color: rgb(196, 74, 226);
  background: #fff;
}
.btn-contact:active {
  position: relative;
  top: 1px;
}
