.home-container {
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  top: 5rem;
  height: calc(100vh - 5rem);
  overflow: auto;
}
