@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

.backgroundImage {
  width: 100vw;
  margin-top: -5rem;
  height: 100vh;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}
.cover-overlay {
  display: -webkit-flex;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.text {
  margin: auto;
  text-align: center;
  color: #fff;
}
.falling-txt {
  font-size: clamp(1rem, 2.5rem, 6rem);
  letter-spacing: 0.4rem;
  font-family: "Quicksand", sans-serif;
}
.fadeing-txt {
  font-size: clamp(0.8rem, 1.5rem, 2.5rem);
  letter-spacing: 5px;
  font-family: "Quicksand", sans-serif;
}
.btn-div {
  padding-top: 4rem;
  margin: auto;
}
.btn-contact {
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 2px;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  background: rgb(196, 74, 226);
  border: none;
  border-radius: 0px;
  box-shadow: 0px;
  opacity: 1;
}

.btn-contact:hover {
  color: rgb(196, 74, 226);
  background: #fff;
}
/* .btn-contact:active {
  position: relative;
  top: 1px;
} */

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
}
.intro-text {
  color: rgb(227, 242, 255);
  font-family: "Heebo", sans-serif;
  font-size: 2.5rem;
}
.hide {
  background: rgb(0, 0, 0);
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
  font-size: 3rem;
}
