.massage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.massage-title-div {
  display: grid;
  width: 80%;
  margin-top: 5rem;
  height: 100%;
}

.massage-title-text {
  display: grid;
  place-items: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-size: clamp(0.8rem, 2.5rem, 3.5rem);
  opacity: 1;
}

.massage-hero {
  display: flex;
  width: 100%;
  margin-top: -5rem;
  height: 65vh;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}
.logo-massage {
  max-width: 450px;
  margin: auto;
  background-color: blanchedalmond;
}
.massage-list-container {
  width: 80%;
  display: flex;
  margin: 3rem auto;
  text-align: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: clamp(0.5rem, 1rem, 2.5rem);
  line-height: 300%;
  opacity: 1;
}
.massage-list-title {
  font-family: "Quicksand", sans-serif;
  color: rgb(35, 35, 35);
  margin: auto;
}

/* .massage-card {
  background-color: rgb(178, 236, 238);
  display: flex;
  width: 90vw;
  height: 100vh;
  margin: auto;
  margin-bottom: 10rem;
} */
