@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");

.massage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.massage-title-div {
  display: grid;
  width: 80%;
  margin-top: 5rem;
  height: 100%;
}

.massage-title-text {
  display: grid;
  place-items: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 3px;
  color: #fff;
  font-size: clamp(0.8rem, 2.5rem, 3.5rem);
  opacity: 1;
}

.massage-hero {
  display: flex;
  width: 100%;
  margin-top: -5rem;
  height: 65vh;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}
.logo-massage {
  max-width: 450px;
  margin: auto;
  background-color: blanchedalmond;
}
.massage-list-container {
  width: 80%;
  display: flex;
  margin: 3rem auto;
  text-align: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 2px;
  font-size: clamp(0.5rem, 1rem, 2.5rem);
  line-height: 300%;
  opacity: 1;
}
.massage-list-title {
  font-family: "Quicksand", sans-serif;
  color: rgb(35, 35, 35);
  margin: auto;
}
.massage-list {
  display: flex;
  width: 60%;
  margin: auto;
  margin-bottom: 8rem;
  opacity: 1;
}
.links-menu {
  width: 100%;
  display: flex;
  list-style: none;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.massage-link {
  /* background-color: rgba(0, 0, 0, 0.2); */
  font-size: 1.2rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
}
.massage-link p {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}
.massage-link :hover {
  /* border-bottom: 4px solid rgb(196, 74, 226); 
   transform: scale(1.15);
  font-size: 1.25rem; */
  transition: all 0.2s ease-out;
}
.cards-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2rem;
  width: 75%;
  margin: auto;
}
.massage-card {
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  width: 75%;
  margin: auto;
}

@media screen and (max-width: 960px) {
  .links-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
/* .massage-card {
  
} */
