@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.navbar {
  /* background-color: transparent; */
  /* background-color: rgba(0, 0, 0, 0.2); */
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  position: fixed;
  top: 0;
  z-index: 2;
}
.navbar.color {
  background-color: rgb(196, 74, 226);
}

.navbar-logo {
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-self: start;
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
}
.logo-top {
  text-decoration: overline;
  color: #fff;
  font-family: "Goldman", cursive;
  letter-spacing: 2px;
  color: #fff;
}
.logo-bottom {
  /* font-family: "Parisienne", cursive; */
  font-family: "Courgette", cursive;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 2px;
}

.nav-menu {
  display: grid;
  background-color: transparent;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  margin-right: 1rem;
}

.nav-item {
  height: 5rem;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  /* color: rgb(196, 74, 226); */
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.menu-btn {
  color: #fff;
  font-size: 1.8rem;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -100vh;
    opacity: 1;
    transition: all 0.2s ease;
  }

  .nav-menu.active {
    background: rgb(196, 74, 226);
    top: 0;
    opacity: 1;
    padding-top: 5rem;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    /*background-color: #fff;*/
    color: #242424;
    border-radius: 0;
    border: none;
  }

  .menu-icon {
    border: none;
    background-color: transparent;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 2rem;
    cursor: pointer;
    z-index: 999;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #2b0227;
    transition: 250ms;
  }
  .nav-item {
    font-size: 1.2rem;
  }
}
